torch>=2.1.0
torchvision
diffusers>=0.24.0
transformers
accelerate
opencv-python
Pillow
numpy
huggingface_hub
scipy
safetensors
onnxruntime-gpu
tqdm
fvcore
omegaconf
iopath
tabulate
termcolor
pycocotools
matplotlib
cloudpickle
PyYAML
scikit-image
av
packaging
onnx
flask
requests
pyngrok